.main__filters {
  padding: 15px 210px 45px;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
}

.filter__movies {
  width: 400px;
  height: 40px;
  border: 3px solid $font-color-dark;
}

.filter__view {

}